/* src/App.css */
.App {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #393E41;
}

/* Animated circles */
.circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.7;
  background-color: rgba(68, 187, 164, 0.5);
  animation: float 20s linear infinite;
}

.circle-1 {
  width: 200px;
  height: 200px;
  top: 20%;
  left: 10%;
  animation-duration: 18s;
}

.circle-2 {
  width: 150px;
  height: 150px;
  top: 50%;
  left: 70%;
  animation-duration: 22s;
}

.circle-3 {
  width: 100px;
  height: 100px;
  top: 80%;
  left: 30%;
  animation-duration: 25s;
}

@keyframes float {
  0% { transform: translateY(0px) translateX(0px); }
  50% { transform: translateY(-30px) translateX(30px); }
  100% { transform: translateY(0px) translateX(0px); }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply the animation */
.fade-in-down {
  animation: fadeInDown 1s ease-out;
}

